<h4>Bolsa Atividade</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 

	Aluno desenvolve 8 horas semanais de atividades, junto aos departamentos acadêmicos ou administrativos da Instituição. Esta bolsa é prioritária para calouros de primeira graduação e as vagas remanescentes podem ser distribuídas para veteranos de graduação. Envolvimento no projeto deverá ser de 8 (oito) horas semanais.	
	A bolsa tem o valor mensal de R$180,00.
	A duração da bolsa atividade é de até oito meses, sendo quatro meses no primeiro semestre e quatro, no segundo semestre.
	PS: As bolsas de monitoria são distribuídas pelos centros acadêmicos conforme aprovação da Comissão para Assuntos de Natureza Orçamentária e Administrativa - CANOA.

</p>


</br>