<h4>Bolsa Monitoria</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	Anual.
	400,00 por mês.
	Inscrição em no final de janeiro, inicio de fevereiro.
	20 horas semanais, 16 presenciais no IF 4 em local a definir.

</p>

	