<h4>FAPESP </h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	
	Destina-se a alunos de graduação em instituições de ensino superior localizadas no Estado, para desenvolvimento de pesquisa científica (IC) ou tecnológica (IT) sob a direção de um orientador com título de doutor ou qualificação equivalente, avaliado por sua súmula curricular.<br> 
	O aluno já deve ter concluído um número suficiente de disciplinas relevantes para o desenvolvimento do projeto de pesquisa.Um bom desempenho acadêmico do candidato, evidenciado pelo histórico escolar, é condição essencial para a concessão da bolsa.<br>
	<lu>
		<li>Duração mínima de 6 meses, por padrão 1 ano, podendo ser renovada</li>
		<li>Valor: R$ 676,80 mensais</li>
	</lu>
</p>



