<h4>Apoio Moradia</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	Consiste em vaga gratuita na moradia da Universidade; o campus dispõe de cinco blocos de alojamento, totalizando 252 vagas. A definição da vaga é feita por meio de processo seletivo realizado pela Comissão de Admissão do Alojamento Estudantil – CAAE.

</p>

<h4>Apoio Alimentação</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
		Consiste na isenção do pagamento de refeições nos Restaurantes Universitários.
	<lu>
		<li>Válido por até 12 meses</li>
		<li>Limite de renda per capita de 2 salários mínimos vigentes</li>
	</lu>
</p>

<h4>Apoio Transporte</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	Auxílio financeiro mensal, durante o período letivo (benefício não creditado nos meses de janeiro e julho), para deslocamento do aluno da residência até a Universidade. Não se trata de auxílio para deslocamento do aluno entre a cidade de origem e a cidade de São Carlos. 
	<lu>
		<li>Válido por até 12 meses</li>
		<li>Não cumulativo com auxílio moradia financeiro</li>
		<li>Valor: R$ 200,00 mensais</li>
	</lu>
	
</p>

<h4>Apoio Livros</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
    Consiste em créditos disponibilizados para aquisição de livros nas Editoras da USP (Edusp) durante o período letivo (benefício não creditado nos meses de janeiro e julho). O aluno pode ser contemplado com a bolsa por 2 anos (consecutivos ou não); cumprido esse período sua inscrição é automaticamente bloqueada pelo sistema. 
    <lu>
		<li>Limite de renda per capita de 2 salários mínimos vigentes</li>
		<li>Válido por até 12 meses</li>
		<li>Valor: R$ 150,00 em créditos</li>
	</lu>
</p>