<h4>PIBIC</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 

	O Programa Institucional de Bolsas de Iniciação Científica (PIBIC) visa apoiar a política de Iniciação Científica desenvolvida nas Instituições de Ensino e/ou Pesquisa, por meio da concessão de bolsas de Iniciação Científica (IC) a estudantes de graduação integrados na pesquisa científica. A cota de bolsas de (IC) é concedida diretamente às instituições, estas são responsáveis pela seleção dos projetos dos pesquisadores orientadores interessados em participar do Programa. Os estudantes tornam-se bolsistas a partir da indicação dos orientadores. 
	A bolsa terá duração de 12 (doze) meses (se implementada a partir do primeiro mês de vigência do processo institucional) com início em 1º de agosto.
	R$ 400,00

</p>


</br>