<h4>Programa de Assistencia Estudantil</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	O Programa de Assistência estudantil é financiado pelo governo e visa a auxiliar os alunos na questão financeira em diversos campos.Ele engloba auxílio alimentacao, creche, material didatico, auxílio moradia, auxílio saude e auxílio transporte. <br> 
	Mais informações <a href = "https://scl.ifsp.edu.br/index.php/assitencia-estudantil">aqui</a>.
</p>


</br>
	