<h4>Apoio Moradia</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	Consiste em vaga gratuita na moradia da Universidade; o campus dispõe de cinco blocos de alojamento, totalizando 252 vagas. A definição da vaga é feita por meio de processo seletivo realizado pela Comissão de Admissão do Alojamento Estudantil – CAAE.



</p>



<h4>Auxílio Moradia</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	É o auxílio financeiro mensal destinado aos alunos com alta vulnerabilidade socioeconômica (perfil de maior necessidade de atendimento) que não foram contemplados com a vaga na moradia universitária. A definição do auxílio é feita pelo processo seletivo do PAPFE e pelo processo seletivo realizado pela Comissão de Admissão do Alojamento Estudantil – CAAE. 
	Ajuda de custo no valor de R$ 400,00 por até 12 meses. 
	Limite de renda per capita de 3 salários mínimos vigentes. 
	Não cumulativo com apoio transporte.


</p>
<p>



<h4>Apoio Transporte</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	Auxílio financeiro mensal, durante o período letivo (benefício não creditado nos meses de janeiro e julho), para deslocamento do aluno da residência até a Universidade. Não se trata de auxílio para deslocamento do aluno entre a cidade de origem e a cidade de São Carlos. 
	Válido por até 12 meses
	Não cumulativo com auxílio moradia financeiro. 
	Valor R$ 200,00.

	
</p>



