<h4>Bolsa Alimentação</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	O bolsista terá direito a duas refeições diárias, 1 almoço e 1 jantar, de segunda a sexta-feira e almoço aos sábados. 
	Em São Carlos, caso ocorra o fechamento do Restaurante Universitário, por qualquer motivo (feriados prolongados, greve, manutenção etc) será fornecido alimentos in natura. <br>
	Nestas situações, o estudante interessado em retirar os alimentos in natura deverá ficar atento aos comunicados e informes que serão afixados no RU, nas moradias estudantis e também veiculados no inforede da UFSCar e pelos emails.
	<lu>
		<li>Duração de 12 meses</li>
		<li>Para alunos de primeira graduação dos cursos presenciais da UFSCar</li>
	</lu>
</p>



<h4>Bolsa Moradia</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	Auxílio financeiro para subsidiar suas despesas com moradia (aluguel, água, luz, IPTU, gás e transporte).
	Somente os alunos de primeira graduação dos cursos presenciais da UFSCar podem pedir o Auxílio Moradia.
	<lu>
		<li>O valor da bolsa moradia em dinheiro para estudantes sem filhos é de R$ 300,00 e com filhos (observar as normas) de R$ 400,00 (bolsa moradia mãe/pai)</li>
		<li>Duração de até 1 ano</li>
	</lu>
	
</p>


