<h2>Olá! Seja bem vindo ao sdds R$!</h2>

<style type = "text/css">
	.link-des {
		color: #0F7513;
	}
</style>

<p>
	Fizemos esse site com o objetivo de ajudar você que chegou em São Carlos meio perdido e poderia usar uma mãozinha para conseguir chegar ao fim do mês sem a carteira vazia. Seguem aqui algumas dicas sobre como navegar no site, esperamos que gostem!
</p>

<p>
	Primeiro, caso você não seja natural de São Carlos e esteja aqui estudando enquanto sua família ainda mora em outra cidade como a maioria de nós, você vai querer em breve voltar pra sua cidade certo? Antes disso, seria legal você entrar na nossa aba de <a href="/transporte" class="link-des">transportes</a>, onde você poderá encontrar informações sobre grupos de carona e carteirinhas de ônibus.
</p>
<p>
	Agora você deve aproveitar os benefícios da cidade o máximo possível enquanto está aqui não é? Então que tal dar uma olhada na nossa aba de <a href="/bolsasauxilio" class="link-des">bolsas auxílio</a>, onde você irá encontrar muitas informações úteis sobre as bolsas disponibilizadas pela sua faculdade, desde auxílios moradia e alimentação até bolsas de intercâmbio, monitoria e iniciação científica.
</p>
<p>
	Além disso, qualquer faculdade pode te oferecer ainda mais benefícios com diversas associações que, pagando-se uma anuidade, te proporcionarão vários descontos em diversos estabelecimentos. Entre aqui na nossa aba de <a href="/associacoes" class="link-des">associações</a> para saber melhor sobre isso!
</p>
<p>
	E só pra fechar, confira também nossa página de <a href="/dicas" class="link-des">dicas</a>! Lá você vai encontrar coisas bem variadas como links de outros canais que te ajudam a gerenciar seu dinheiro, referências de aplicativos, entre outros!
</p>
<p>
	Esperamos poder ajudar! Aproveite!
</p>
</br>
