<h4>Apoio Alimentação</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	Isenção do pagamento de refeições nos Restaurantes Universitários; 
	Válido por até 12 meses. 
	Limite de renda per capita de 2 salários mínimos vigentes.

</p>

<h4>Apoio Livros</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
    Consiste em créditos disponibilizados para aquisição de livros nas Editoras da USP (Edusp) durante o período letivo (benefício não creditado nos meses de janeiro e julho). O aluno pode ser contemplado com a bolsa por 2 anos (consecutivos ou não); cumprido esse período sua inscrição é automaticamente bloqueada pelo sistema. 
	Limite de renda per capita de 2 salários mínimos vigentes.
	Válido por até 12 meses
	Valor R$ 150,00 em créditos.

</p>

<h4>Monitoria</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	O Programa de Estímulo ao Ensino de Graduação (PEEG) é voltado a estudantes de todos os cursos da USP, que tenham bom rendimento escolar, e destacado desempenho na disciplina escolhida para desenvolver as atividades de monitoria.
	O PEEG atenderá a uma turma, ou a um conjunto de turmas de uma mesma disciplina, que receberá o monitor. Caberá à Comissão de Graduação receber e avaliar os projetos de cada disciplina para proceder à distribuição de bolsas.
	Para concorrer a uma vaga de monitor, o aluno deve se inscrever no projeto da disciplina cujo conteúdo ele domina por ter cursado a própria disciplina ou equivalente. A monitoria deve ser desenvolvida necessariamente sob supervisão de um dos docentes da disciplina.
	Semestral
	Bolsa de 400,00 por mês
	Duração de 4 meses

</p>
</br>