<h4>USP</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	A principal fonte de informações sobre vagas e bolsas de intercâmbio para alunos da USP é o <a href="https://uspdigital.usp.br/mundus/editalintercambiopublicoListar?codmnu=2070">Sistema Mundus</a>. Nele podem ser encontrados inúmeros editais disponíveis para intercâmbios. <br>
	Além disso, cada instituto possui uma comissão específica que cuida dos editais locais, são algumas delas: CRInt do ICMC e CCint da EESC. 

</p>
