<h4>Auxílio Moradia</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p>
	É o auxílio financeiro mensal destinado aos alunos com alta vulnerabilidade socioeconômica (perfil de maior necessidade de atendimento) que não foram contemplados com a vaga na moradia universitária. A definição do auxílio é feita pelo processo seletivo do PAPFE e pelo processo seletivo realizado pela Comissão de Admissão do Alojamento Estudantil – CAAE. 
	<lu>
		<li>Ajuda de custo no valor de R$ 400,00 por mês por até 12 meses</li>
		<li>Limite de renda per capita de 3 salários mínimos vigentes</li>
		<li>Não cumulativo com apoio transporte</li>
	</lu>

</p>

<h4>Monitoria</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	O Programa de Estímulo ao Ensino de Graduação (PEEG) é voltado a estudantes de todos os cursos da USP, que tenham bom rendimento escolar, e destacado desempenho na disciplina escolhida para desenvolver as atividades de monitoria.<br>
	O PEEG atenderá a uma turma, ou a um conjunto de turmas de uma mesma disciplina, que receberá o monitor. Caberá à Comissão de Graduação receber e avaliar os projetos de cada disciplina para proceder à distribuição de bolsas.<br>
	Para concorrer a uma vaga de monitor, o aluno deve se inscrever no projeto da disciplina cujo conteúdo ele domina por ter cursado a própria disciplina ou equivalente. A monitoria deve ser desenvolvida necessariamente sob supervisão de um dos docentes da disciplina.
	<lu>
		<li>Semestral</li>
		<li>Valor:400,00 mensais</li>
		<li>Duração de 4 meses</li>
	</lu>
</p>
</br>