<h4>UFSCAR</h4>

<style type = "text/css">
	.link-des {
		color: #DDDDDD;
	}
</style>

<p> 
	A Secretaria Geral de Relações Internacionais da UFSCar (SRInter-UFSCar) fica responsável por praticamente todos os editais e informações acerca de intercâmbios disponíveis a seus alunos. Você pode encontrar mais informacões <a href="https://www2.ufscar.br/estudante/www.srinter.ufscar.br">aqui</a>.

</p>