<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<style type="text/css" src = "css/fonte.css"> </style>
		<style type="text/css">
			body {
				background-color: #DDDDDD;
				text-align: justify;
				font-size: 20px;
				font-family: "Gill Sans", sans-serif;
				display: flex;
				flex-direction: column;
			}
			
			html, body {
				height: 100%;
			}

			.content {
				flex: 1 0 auto;
			}

			.footer {
				flex-shrink: 0;
			}

			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}
		</style>
		<title> sdds R$ </title>
	</head>
	<body>
		<div class = "content">
			<%-include navbar.ejs%>
			
			<div id="img" style = "width: 100%;">
				<img src="principal.jpg" style = "max-width: 100%; height: auto;" class = "img-cartaopostal">
			</div>
			<div class = "container">

				<div class="row">
					<div class = "col-md-8">
						<%-include descricao.ejs %>
					</div>
					<div class = "col-md-4"> 
						<img src="sddsRS_logo.png" id = "img-logo">
					</div>
				</div>	
			</div>
		</div>
		<%- include footer.ejs %>
	</body>
</html>