<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->

		<title> sdds R$ </title>

		<style type = 'text/css'>
			body {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<!--<h1> Ola Sanca !! </h1> -->
		<%-include navbar.ejs%>

	</body>
</html>