<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<style type="text/css">
			body {
				background-color: #DDDDDD;
				text-align: justify;
			}

			.img-cartaopostal {

				/*border: solid 1px black;*/
			}

			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}
		</style>
		<title> Transporte </title>
	</head>
	<body>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0&appId=932192396952189&autoLogAppEvents=1';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			
			<%-include navbar.ejs%>
			<div id="img" style = "width: 100%;">
				<img src="cabecalho.JPG" style = "max-width: 100%; height: auto;" class = "img-cartaopostal">
			</div>
			<!-- Sessao de icones -->
			<div class = "container">
				<br>
				<div class="row">
					<div class = "col-md-6">
						<center>
							<a href="#caronas"><img src="carro3.png" style = "max-width: 30%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						<br>
						<h3 style="text-align: center"> Caronas </h3>
					</div>
					<div class = "col-md-6">
						<center> 
							<a href = "#onibus"><img src="onibus.png" style = "max-width: 30%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						<br>
						<h3 style="text-align: center"> Ônibus </h3>
					</div>
					
				</div>	
			</div>
			<br>

			<!-- Sessao de caronas -->
			<div class = "container-fluid" style="background: #FFFFFF">
				<div class="row" id = "caronas">
					<h3 style = "margin-left: 100px"> Caronas </h3>
					<div class = "col-md-3">
						<p> <h4>Blablacar é um site que permite que você ofereça caronas e assim economize dinheiro com combustível ou procure caronas blablablalalca</p></h4>
					</div>
					<div class = "col-md-3">
						<br>
						<center>
							<iframe src="//www.blablacar.com.br/widget-driver/PT_WIDGET_DRVR" style="border:0px; padding:0px;" width="220px" height="300px" frameborder="0" scrolling="no"></iframe><br><a href="//www.blablacar.com.br/#">Blablacar.com.br</a>
						</center>
						<br>
					</div>
					<div class = "col-md-3">
						<br>
						<center>
							<iframe src="//www.blablacar.com.br/widget/BR_WIDGET_PSGR" style="border:0px; padding:0px;" width="220px" height="300px" frameborder="0" scrolling="no"></iframe><br><a href="//www.blablacar.com.br?comuto_cmkt=BR_WIDGET_PSGR">Blablacar.com.br</a>
						</center>
					</div>
				</div>
				<br>
			</div>
			<!-- Sessao de onibus -->
			<div class = "container-fluid" style="background: #DDDDDD; width:100%">
				<br>
				<h3 style = "margin-left: 100px"> Ônibus </h3>
				<div class="row" id="onibus">
					<div class = "col-md-3">
					<p><h4> É garantido pela ARTESP 50% de desconto no preço da passagem de ônibus intermunicipais para estudantes de educação básica, ensinos fundamental e médio e de curso superior de graduação. </p>
					<p> Para conseguir sua carteira de estudante, basta comparecer no guichê na <a hreh = "https://goo.gl/maps/BrzTnEkBiTx" style = "color: #0F7513">rodoviária</a> da empresa de ônibus que faz o transporte até sua cidade, preencher o formulário, levar os documentos necessários e pagar uma taxa. </h4></p>
					</div>
   				</div>
   				<br>
  			</div>

			<%- include footer.ejs %>
<!-- 		</
		</div> -->
	</body>
</html>