<html>
	<head>
		<%-include bootstrap.ejs %> <!-- inclui o bootstrap -->
		<style type="text/css">
			html, body {
				height: 100%;
			}

			body {
				background-color: #DDDDDD;
				text-align: justify;
				display: flex;
				flex-direction: column;
			}

			.content {
				flex: 1 0 auto;
			}

			.footer {
				flex-shrink: 0;
			}

			.img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}

			#img-logo {
				max-width: 100%; 
				height: auto;
				margin: 15px;
			}
		</style>
		<title> Transporte </title>
	</head>
	<body>
		<div class = "content">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0&appId=932192396952189&autoLogAppEvents=1';
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			
			<%-include navbar.ejs%>
			<div id="img" style = "width: 100%;">
				<img src="barra.jpg" style = "max-width: 100%; height: auto;">
			</div>
			<!-- Sessao de icones -->
			<div class = "container">
				<br>
				<div class="row">
					<div class = "col-md-6 col-sm-5">
						<center>
							<a href="#caronas"><img src="carro3.png" style = "max-width: 30%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						<br>
						<h3 style="text-align: center"> Caronas </h3>
					</div>
					<div class = "col-sm-1"></div>
					<div class = "col-md-6 col-sm-5">
						<center> 
							<a href = "#onibus"><img src="onibus.png" style = "max-width: 30%; height: auto; margin: 20px" class = "img-logo"></a>
						</center>
						<br>
						<h3 style="text-align: center"> Ônibus </h3>
					</div>
					
				</div>	
			</div>
			<br>

			<!-- Sessao de caronas -->
			<div class = "container-fluid" style="background: #FFFFFF">
				<div class="row" id = "caronas">
					<h3 style = "margin-left: 100px"> Caronas </h3><br>
					<div class = "col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3" style = "vertical-align: center">
						<center> <img src = "blablacar.png" style="width: 50%; height: auto; max-width: 225px"> </center>
						<br>
						<br>
						<p> <h4>Blablacar é um site que permite que você ofereça ou procure caronas. Dessa forma, ambos podem economizar. É só buscar pela cidade de origem e destino da sua viagem e achar a melhor carona para você!</p></h4>
						
					</div>
					<div class = "col-md-4 col-sm-4">
						<center>
							<h3>Para oferecer caronas:</h3>
							<br>
							<iframe src="//www.blablacar.com.br/widget-driver/PT_WIDGET_DRVR" style="border:0px; padding:0px;" width="220px" height="300px" frameborder="0" scrolling="no"></iframe><br><a href="//www.blablacar.com.br/#">Blablacar.com.br</a>
						</center>
						<br>
					</div>
					<div class = "col-md-4 col-sm-4">	
						<center>
							<h3>Para buscar caronas:</h3>
							<br>
							<iframe src="//www.blablacar.com.br/widget/BR_WIDGET_PSGR" style="border:0px; padding:0px;" width="220px" height="300px" frameborder="0" scrolling="no"></iframe><br><a href="//www.blablacar.com.br?comuto_cmkt=BR_WIDGET_PSGR">Blablacar.com.br</a>
						</center>
					</div>
				</div>
				<br>
			</div>
			<!-- Sessao de onibus -->
			<div class = "container-fluid" style="background: #DDDDDD; width:100%">
				<br>
				<h3 style = "margin-left: 100px"> Ônibus </h3>
				<div class="row" id="onibus">
					<div class = "col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3">
						<p><h4> É garantido pela ARTESP 50% de desconto no preço da passagem de ônibus intermunicipais para o estado de São Paulo para estudantes de educação básica, ensinos fundamental e médio e de curso superior de graduação. </h4></p>
					</div>
					<div class = "col-md-3 col-sm-3">
						<h4><p> Para conseguir sua carteira de estudante, basta comparecer no guichê na <a href = "https://goo.gl/maps/BrzTnEkBiTx" style = "color: #0F7513">rodoviária</a> da empresa de ônibus que faz o transporte até sua cidade, preencher o formulário, levar os documentos necessários e pagar uma taxa. </h4></p>
						<br>
					</div>
					<div class = "col-md-3 col-sm-3"> 
						<h4><p>Mais dúvidas podem ser tiradas no site das empresas: </p>
							<ul>
								<li><a href="http://www.empresacruz.com.br/pagina-90-como-solicitar-carteira-escolar.html" style = "color: #0F7513">Empresa Cruz</a></li>
								<li><a href="http://www.viacaocometa.com.br/tire-sua-duvida/" style = "color: #0F7513">Viação Cometa</a></li>
								<li><a href="http://www.vbtransportes.com.br/servicos/pedidos-de-passe/rodoviario/" style = "color: #0F7513">VB Transportes</a></li>
							</ul>
						</h4>
					</div>
   				</div>
   				<br>
  			</div>
  		</div>
		<%- include footer.ejs %>
	</body>
</html>